<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Lyrical</h1>
  <div>{{data}}</div>

  <!--Dropdown menus-->
  <form action = "/" method="POST">
      <select multiple name = "songs">
          {% for n in songs %}
                <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
      </select>
      <select multiple name = "names">
          {% for n in names %}
                <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
      </select>
      <select multiple name = "years">
          {% for n in years %}
                <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
      </select>
      <select multiple name = "genres">
          {% for n in genres %}
                <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
      </select>
      <select multiple name = "albums">
          {% for n in albums %}
                <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
      </select>
      <button type="submit">Search</button>
  </form>

  <form name="name" action="another.html" method='POST'>
    <select multiple name="name">
        <option value="Neil Young">Neil Young</option>
        <option value="Radiohead">Radiohead</option>
        <option value="Neon Indian">Neon Indian</option>
    </select>
      <select multiple name="year">
        <option value="1990">1990</option>
        <option value="1997">1997</option>
        <option value="2015">2015</option>
    </select>

    <button type="submit">Search</button>
</form>




  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p>

  <p><a href="cloud">Check out a sample word cloud!</a></p>





<!--<form method="POST" action="/add">-->
<!--<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>-->
<!--</form>-->

</body>


</html>
